body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: orange;
  margin: 0;
  font-family: Verdana, sans-serif;
}

img {
  height:300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  color: orange;
  background-color: purple;
  padding: 15px;
}

ul {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

a {
  color: orange;
  text-decoration: none;
}

.item1 {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: purple;
  color: white;
  padding: 30px;
}

.item1_a {
  width: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

h2, h3, h4 {
  margin: 5px 0px;
  padding: 0px;
}

.pic9 {
  height: 300px;
}

.item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-weight: 700;
  gap: 25px;
  color: purple;
}

.item2_b {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.fact {
  padding: 10px;
  max-width: 300px;
}

.footer, .item4, .item3 {
  text-align: center;
}

.item3 {
  font-size: 40px;
  font-weight: 700;
  padding: 30px 90px;
  background-color: purple;
  color: orange;
}

.block {
  position: fixed;
  padding: 50px 0;
  max-width: 150px;
  bottom: 50%;
  left: 0;
}

.item4 {
  display: flex;
  justify-content: center;
}

.item4 div {
  color: white;
  height: 100px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: purple;
  margin: 20px 0px;
  border-radius: 50px;
  font-weight: 700;
}

.item4 button {
    margin-top: 10px;
}